<div class="goal">
    <h1>Goal Page</h1>
    <p>Goal Name: {{goal.name}}</p>
    <p>Goal ID: {{goal.id}}</p>
    <p>Current Weight: {{currentWeight}}</p>
    <p>First Name:{{goal.client.user.first_name}}</p>
    <p>Last Name:{{goal.client.user.last_name}}</p>
    <h2>Posts</h2>
    {{#each goal.posts}}
    <p>Post ID{{id}}</p>
    <p>Post Date: {{format_date date}}</p>
    <p>Post Weight {{post_question_answers.[0].answer}}</p>
    <h3>Comments</h3>
    {{#each comments}}
    <p>{{body}}</p>
    <p>{{format_date date}}</p>
    <p>{{user.first_name}}</p>
    {{/each}}
    <form class="comment-form">
        <div class="form-group mx-sm-3 mb-2">
            <label for="body" class="sr-only">Comment</label>
            <input type="text" class="form-control" id="body" placeholder="">
            <input type="hidden" id="user_id" value="{{../current_user_id}}">
            <input type="hidden" id="post_id" value="{{id}}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add Comment</button>
    </form>
    {{/each}}
    <h3>Questions:</h3>
    <form class="progress-form">
        <input type="hidden" id="goal_id" value="{{goal.id}}">
        <p>Goal ID: {{goal.id}}</p>
        {{#each progressQuestions}}
        <div class="form-group mx-sm-3 mb-2">
            <input type="hidden" class="form-control" id="question_id" value="{{id}}">
            <label for="answer">{{question}}</label>
            <input type="text" class="form-control" id="answer" placeholder="">    
        </div>
        {{/each}}
        <button type="submit" class="btn btn-primary mb-2">Post Your Progress</button>
    </form>


<script src="/js/comment.js"></script>
<script src="/js/post.js"></script>