<div class="container main-secction">
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12 image-section bg-info">
            <img src="/images/llinkedinbackground.jpg">
        </div>
        <div class="row  user-left-part">
            <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                <div class="row">
                    <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png"
                            class="rounded-circle">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                        <button id="btn-contact" (click)="clearModal()" data-toggle="modal" data-target="#contact"
                            class="btn btn-success btn-block follow">Set a Goal With This Pro</button>
                        <button class="btn btn-warning btn-block">Schedule A Session</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                <div class="row profile-right-section-row">
                    <div class="col-md-12 profile-header">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 profile-header-section1 pull-left">
                                <h1>{{professional.user.first_name}} {{professional.user.last_name}}</h1>
                                <h5>{{professional.user.city}}, {{professional.user.state}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Professional ID</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p>{{professional.user.id}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Username</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p>{{professional.user.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p>{{professional.user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Bio</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p>{{professional.bio}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Services Offered</label>
                                    </div>
                                    <div class="col-md-5">
                                        {{#each professional.professional_services}}
                                        <p>{{service.name}}</p>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>